# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Outputs (keep folders only)
# =========================
outputs/**/*
!outputs/**/.gitkeep

# =========================
# Models & embeddings
# =========================
*.pkl
*.npy

# =========================
# Reports & images
# =========================
*.png
*.jpg
*.jpeg
*.md

# =========================
# OS & IDE
# =========================
.DS_Store
Thumbs.db
.vscode/
